@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    @apply bg-grey font-body;
}

button:focus{
  outline: none;
}

.btn{
  @apply py-2 px-6 rounded;
}

.btn-primary{
  @apply bg-primary text-white;
}

a{
    text-decoration: underline;
}

p{
    @apply tracking-wide;
}

a:hover{
    @apply text-primary;
}

.code{
    @apply italic;
}

/* .candidate{
    transform: scale(1);
    transition: all .2s ease-in-out;
  }
.candidate:hover{
    transform: scale(2);
    transition: all .2s ease-in-out;
  } */